<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&subset=cyrillic" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>
    <!-- SortableJS -->
    <script src="https://unpkg.com/sortablejs@1.4.2"></script>
    <!-- VueSortable -->
    <script src="https://unpkg.com/vue-sortable@0.1.3"></script>
    <title></title>

  <style type="text/css">
		html,body{
			-webkit-text-size-adjust:none;
			-ms-text-size-adjust:none;
			text-size-adjust:none;
			margin:0;
			padding:0;
		}
		body{
			width:100% !important;
		}
      #textarea{
      max-width: 100%;
      word-break: break-all;
      cursor: text;
      word-break: break-word;
    }
    td.active{
      border-top: 12px solid #3ACFD5;
      border-bottom: 12px solid #3a4ed5;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      -webkit-background-size: 12px 100%;
      -moz-background-size: 12px 100%;
      background-size: 12px 100%;
      background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
      background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
      background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
      background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    }
    td.non-active{
      background: #eee;
      opacity: 0.7;
    }
    button.close{
     border:0.5px solid #3acfd5;
     background: #fff;
     border-radius: 2px;
    }
	@media only screen and (max-device-width: 485px),only screen and (max-width: 485px){
		.no-border-radius{
			-ms-border-radius:0 !important;
			-moz-border-radius:0 !important;
			-webkit-border-radius:0 !important;
			border-radius:0 !important;
		}

}	@media only screen and (max-device-width: 485px),only screen and (max-width: 485px){
		.top-shift{
			display:none;
		}

}		.apple-links a{
			color:#282828 !important;
			text-decoration:none;
		}
		.overlay table{
			opacity:.5;
		}
</style></head>
  <body style="margin: 0; padding: 0; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; width: 100%; background:#e9e9e9;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e9e9e9" style="background-color:#e9e9e9;border-radius:10px;">
      <tbody><tr>
        <td height="15" style="line-height:0;font-size:0;" class="top-shift" bgcolor="#e9e9e9"> </td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <!--[if gte mso 10]>
          <table width="600" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="100%" valign="top">
                <![endif]-->
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="max-width:600px;min-width:320px;background:#ffffff;border-radius:4px;-ms-border-radius:4px;-webkit-border-radius:4px; padding-bottom: 48px;" class="no-border-radius editable simple_with_animation">
            <tbody><tr>
              <td align="center" valign="top" style="padding:0;" class="">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td height="220" class="no-border-radius" style="font-size:0;line-height:0;text-align:center;">
                      <a href="#" target="_blank" style="border:0;text-decoration:none;">
                        <img style="margin-top: 8px;" src="https://gallery.mailchimp.com/3880d49d4bd92e185860f5585/images/955411da-d7aa-4602-85d5-c06254110228.png" width="210" border="0" alt=""></a>
                        <p contenteditable="false" id="textarea" style="margin:8px 0 0;font-size:20px;color:#96948d;font-family:Georgia, sans-serif; line-height: 24px;">Новости Владимира за&nbsp;34 декабря 2017</p>
                        <hr style="width:100px;margin-top:28px;">
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>


            <tr class="last_edit"></tr><tr class="last_edit"></tr><tr></tr><tr class="last_edit"></tr></tbody></table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:transparent;max-width:600px;">
              <tbody><tr>
                <td style="padding:15px 30px;color:#93938b;">
                  <p style="margin:11px 0 0;font-family:Arial, sans-serif;font-size:14px;line-height:24px;" contenteditable="false">
                    <a style="text-decoration:none;color:#4493d5;" href="http://fourlines.ru/unsubscribe">Отписаться</a> от&nbsp;рассылки.
                    </p>
                    <p style="margin:0px 0 0;font-family:Arial, sans-serif;font-size:14px;line-height:24px;" contenteditable="false">
                      ©&nbsp;2018 Дизайн-бюро «Четыре»
                    </p>
                    <p style="margin:0px 0 0;font-family:Arial, sans-serif;font-size:14px;line-height:24px;" contenteditable="false">
                      По&nbsp;вопросам сотрудничества&nbsp;— <a style="text-decoration:none;color:#4493d5;" href="mailto:info@fourlines.ru">info@fourlines.ru</a>
                    </p>
                    <p style="margin:10px 0 0;font-family:Arial, sans-serif;font-size:14px;line-height:24px;" contenteditable="false">
                      <a href="https://vk.com/fourlinesnews" style="background:transparent;margin-right:10px;text-decoration:none;">
                        <img width="32" src="https://gallery.mailchimp.com/3880d49d4bd92e185860f5585/images/206f4268-0e5d-430e-9462-bffb71c1feff.png" alt="vk.png"></a>
                        <a href="https://t.me/fourlinesnews" style="background:transparent;margin-right:10px;text-decoration:none;">
                          <img width="32" src="https://gallery.mailchimp.com/3880d49d4bd92e185860f5585/images/047c17d6-113b-4724-9835-c964489870a3.png" alt="tg.png"></a>
                          <a href="#" style="background:transparent;margin-right:10px;text-decoration:none;">
                            <img width="32" src="https://gallery.mailchimp.com/3880d49d4bd92e185860f5585/images/da2fea09-a25d-4775-a9dd-635dda3ac104.png" alt="fb.png"></a>
                            <a href="https://zen.yandex.ru/media/id/5a6225a4c5feaf2a9bff34c7" style="background:transparent;margin-right:10px;text-decoration:none;">
                              <img width="32" src="https://gallery.mailchimp.com/3880d49d4bd92e185860f5585/images/ebff70ba-94d7-4cc6-92ce-645ced4e34f9.png" alt="dzen.png"></a>
                            </p>
                          </td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>
                </tbody></table>
                <script>
                new Vue({
                	el: "body",
                	});
                </script>

              

</body>