body {
  background: #f8f9fa;
  font-family: 'Roboto', sans-serif; }

.header {
  background: #fff; }
  .header .container {
    padding: 20px 0px;
    position: relative; }
  .header .patterns, .header .feedback, .header .username {
    position: relative;
    top: 4px; }
  .header .username {
    position: absolute;
    right: 0px;
    top: 25px;
    bottom: 0px;
    margin: auto; }

button {
  width: 100%;
  margin-bottom: 2px;
  display: block;
  border-radius: 10px !important;
  background: #360033;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0b8793, #360033);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0b8793, #360033);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: unset !important;
  padding: 14px !important;
  font-family: 'Roboto', sans-serif;
  text-align: left !important; }

iframe {
  border: 0px; }

td.active {
  border: 4px solid red; }

.header .container {
  display: flex; }

.about {
  width: 100%; }
  .about a {
    width: 100%; }

.add-url {
  position: absolute;
  display: none;
  z-index: 30000;
  padding: 10px;
  background: #efeaf9;
  border: 4px solid wheat;
  border-radius: 4px; }

.patterns {
  cursor: pointer; }

.patterns-preview {
  display: none;
  padding: 20px 0px; }
  .patterns-preview .col-sm-4 {
    text-align: center; }
    .patterns-preview .col-sm-4 img {
      height: 400px;
      width: auto; }

.frame-options-row {
  padding-top: 15px;
  padding-left: 15px;
  display: flex;
  color: #4493d5; }
  .frame-options-row .mobile-display {
    margin-left: 15px;
    cursor: pointer; }
  .frame-options-row .desktop-display {
    cursor: pointer; }
  .frame-options-row .active {
    color: #96948d; }

/*
background: #355C7D;
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
*/

/*# sourceMappingURL=style.css.map */
